# TEMPLATE only - seal before committing
apiVersion: v1
kind: Secret
metadata:
  name: mongodb-secret
  namespace: airbnb
type: Opaque
stringData:
  MONGO_INITDB_ROOT_USERNAME: "airbnb"
  MONGO_INITDB_ROOT_PASSWORD: "changeme"
